<div class="jumbotron">
  <h2><%= gettext "Hi %{name}!", name: "Brad" %></h2>
  <p class="lead">Here are your webcams.</p>
</div>

<%= for webcam <- @webcams do %>
  <div class="webcam">
    <%= tag(:img, src: webcam.image_url) %>
  </div>
<% end %>
