<div class="webcam-grid">
  <%= for webcam <- @webcams do %>
    <a href="<%= webcam_path(@conn, :show, webcam) %>" class="webcam card">
      <div class="card-image">
        <%= tag(:img, src: webcam.image_url) %>
      </div>
      <div class="card-header">
        <%= webcam.name %>
      </div>
      <div class="card-copy">
        <p>Bayfield, Colorado</p>
      </div>
    </a>
  <% end %>
</div>
